<html>
    <head>
    </head>
    <body>
        <form method="POST" action="/create/">
            <input type="text" name="name" placeholder="Seu Nome">
            <input type="submit">
        </form>
        <table>
            <tr>
                <td>
                    Nome
                </td>
                <td>
                    Apagar
                </td> 
                <td>
                    Atualizar
                </td>
            </tr>
            {% for language in languages %}
                <tr>
                    <td>
                        {{ language.name }}
                    </td>
                    <td>
                        <a href="/delete/{{ language.id }}/"> X </a>
                    </td>
                    <td>
                        <a href="/update/{{ language.id }}/"> X </a>
                    </td>
                </tr>    
            {% endfor %}
        </table>
    </body>
</html>