<html>
    <head>
        <title>Sea Tecnologia</title>
    </head>
    <body>
        <h1> Teste Sea Tecnologia - Dayse Silva  </h1>
        <form method="POST" action="/create/">
            <input type="text" name="name" placeholder="Digite aqui o texto">
            <input type="submit">
        </form>
        <table>
            <tr>
                <td>
                    Texto
                </td>
                <td>
                    Apagar
                </td>
            </tr>
            {% for text in texts %}
                <tr>
                    <td>
                        <a href="/update/{{ text.id }}/"> {{ text.name }} </a>
                    </td>
                    <td>
                        <a href="/delete/{{ text.id }}/"> X </a>
                    </td>
                </tr>    
            {% endfor %}
        </table>
    </body>
</html>